*{
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  margin-top: 20px;
}

img{
  width: 100%;
  height:90%
}

.profession{
  border: 1px solid #000000;
  padding: 0;
}

.generator{
  margin-top: 20px;
}

.result{
  display: inline-block;
  border: 1px solid #000000;
  height: 300px;
}


